{% extends 'base.html.twig' %}

{% block title %}Property{% endblock %}

{% block body %}
    <h1>Property</h1>

    <div>
        <p>coucou</p>
    </div>

    <div {#class="card-deck"#}>
        {#<tbody style="width: 18rem;">#}
        <div {#class="card"#}>
            <div class="card-img-top">
                    <span>Id</span>
                    <span>{{ property.id }}</span>
            </div>
            <div class="card-body">
                    <span>Name</span>
                    <span>{{ property.name }}</span>
                    <span>Address</span>
                    <span>{{ property.address }}</span>
                    <span>PostalCode</span>
                    <span>{{ property.postalCode }}</span>
                    <span>City</span>
                    <span>{{ property.city }}</span>
                    <span>Country</span>
                    <span>{{ property.country }}</span>
                    <span>Surface</span>
                    <span>{{ property.surface }}</span>
                    <span>BedNumber</span>
                    <span>{{ property.bedNumber }}</span>
                    <span>AvgRated</span>
                    <span>{{ property.avgRated }}</span>
            </div>
        </div>
        {#</tbody>#}
    </div>

    <a href="{{ path('property_index') }}">back to list</a>

    <a href="{{ path('property_edit', {'id': property.id}) }}">edit</a>

    {{ include('property/_delete_form.html.twig') }}
{% endblock %}
